* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: sans-serif; 
} 
 
body { 
background-color: #f9fafb; 
color: #ffffff; 
line-height: 1.5; 
} 
 
a { 
    text-decoration: none; 
    color: inherit; 
} 
 
button { 
    border: 0; 
    cursor: pointer; 
 
} 
 
.container { 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 1rem; 
} 
 
header { 
    background: #466d30; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    position: sticky; 
    top: 0; 
    z-index: 10; 
} 
 
.header-inner { 
    background: #466d30; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
.nav-link { 
    display: flex; 
    gap: 2rem; 
    list-style: none; 
} 
 
.nav-link a { 
    color: rgb(255, 255, 255); 
} 
 
.boton-header { 
    display: flex; 
    align-items: center; 
    gap: 0.75rem; 
} 
 
.menu-burger, 
.close-menu { 
    display: none; 
} 
 
.overlay { 
    position: fixed; 
    inset: 0; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 20; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity .3s ease-in-out; 
} 

 
.overlay.active { 
    opacity: 1; 
    visibility: visible; 
 
} 
 
@media (width  <= 768px){ 
    .header-navbar { 
        position: fixed; 
        top: 0; 
        right: -100%;  
        transition: right .3s ease-in-out; 
        width: min(100%, 250px); 
        background: #466d30; 
        height: 100dvh; 
        display: flex; 
        flex-direction: column; 
        gap: 0rem; 
        z-index: 30; 
        padding-block: 1rem; 
    } 
    .header-navbar.active { 
        right: 0; 
    } 
    .nav-link { 
        gap: 0; 
        flex-direction: column; 
        padding-block: .5rem; 
    } 
    .nav-link li { 
        width: 100%; 
    } 
    .nav-link a { 
        display: flex; 
        padding: 1rem; 
    } 
    .menu-burger, 
    .close-menu { 
        font-size: 1.6rem; 
        background: #466d30; 
        cursor: pointer; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        color: #ffffff; 
    } 
    .close-menu { 
        align-self: flex-end; 
        margin-right: 15px; 
    } 
     
} 
.no-scroll { 
    overflow: hidden; 
}
.seccion-precentacion {
    display: grid;
    place-items: center;
    height: 25rem;
    width: 100%;
    background-image: url(portada1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boton-catalogo,
.boton-contacto {
 padding: 10px 40px;
 border-radius: 50px;
 border: 0;
 background-color: #466d30;
 box-shadow: #000000 0 0 8px;
 display: flex;
 margin: 10px;
 justify-content: center;
}

.boton-catalogo:hover {
    letter-spacing: 1px;
    background-color: #2d461e;
    color: #ffffff;
    box-shadow: #2d461e;
}

.boton-contacto:hover {
    letter-spacing: 1px;
    background-color: #2d461e;
    color: #ffffff;
    box-shadow: #2d461e;
}

.carrusel {
    max-width: 1200px;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.carrusel-matraca {
    display: flex;
    width: calc(200px * 10);
    animation: scroll 20s linear infinite;
}

.carrusel-matraca.paused {
    animation-play-state: paused;
}

.carrusel-slide {
    width: 15rem;
    flex-shrink: 0;
    padding: 0 10px;
}

.carrusel-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 5));
    }
}
.contenido{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul{
    list-style: none;
}
.footer {
    background-color: #272626;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    position: relative;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}
.footer-col a:hover{
    color: #5c943c;
}
.footer-terminos a:hover{
    color: #5c943c;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #466d30;
    height: 2px;
    width: 100px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: all 0.3 ease;
}
.footer-col ul i a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.contacto{
    color: #000000;
    padding: 10px;
}

.ico-w{
    display: inline-block;
    background-color: #25De66;
    color:#ffffff;
    padding: 7px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}
.ico-w:hover{
    background-color: #1da851;
}
.ico-w img{
    vertical-align: middle;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.ico-f{
    display: inline-block;
    background-color: #4c99ff;
    color:#ffffff;
    padding: 7px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}
.ico-f:hover{
    background-color: #1d49a8;
}
.ico-f img{
    vertical-align: middle;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.info{
    text-align: center;
}
.acerca-de{
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: justify;
    justify-content: center;
    display: flex;
}
.acerca-de img{
    width: 10rem;
    height: 10rem;
   backdrop-filter: blur(2px);
   background-color: #000000;
   border-radius: 20px;
   box-shadow: #000000 15px;
   margin: 10px;
}

.text-nosotros{
    width: 50rem;
    margin: 20px 10px 10px 20px;
    text-justify: auto;
}
  .catalog-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .catalog-item {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            text-align: center;
            width: 150px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.2s;
            color:#000000;
        }
        .catalog-item:hover {
            transform: scale(1.05);
        }
        .catalog-item a {
            text-decoration: none;
            color: inherit;
        }
        .catalog-item img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .catalog-item p {
            margin: 0;
            font-weight: bold;
        }